<%- include('header') %>

<!-- Content -->
<% if(typeof error != 'undefined'){ %>
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= error.type %></h4>
        <p><%=error.message %></p>
     </div>
<% } %>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Login</h2>
            <form  action="/login" method="post" >
                <div class="form-group">
                    <label for="username">Felhasználónév</label>
                    <input type="text" class="form-control" id="username" name ="username">
                </div>
                <div class="form-group">
                    <label for="password">Jelszó</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <input type="submit" class="btn btn-primary" value="Login"/>
            </form>
        </div>
    </div>
</div>



<%- include('footer') %>
